{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="{{ path('app_server_instance_list') }}" class="my-3">Zurück zur Liste</a>
            <h2 class="my-5">Server Instanz Details</h2>
            <dl class="row">
                <dt>Name</dt>
                <dd>{{ serverInstance.name }}</dd>
                <dt>Base-Url</dt>
                <dd>{% if serverInstance.baseUrl %}<a href="{{ serverInstance.baseUrl }}" target="_blank">{{ serverInstance.baseUrl }}</a> {% endif %}</dd>
                <dt>Aktualisiert am</dt>
                <dd>{% if serverInstance.updatedAt %}{{ serverInstance.updatedAt|date('H:i:s d.m.Y') }}{% else %}Noch nie aktualisiert{% endif %}</dd>
                <dt>Erstellt am</dt>
                <dd>{{ serverInstance.createdAt|date('H:i:s d.m.Y') }}</dd>
            </dl>
            <hr />
            <div class="row justify-content-center">
                <div class="col">
                    <a href="{{ path('app_server_instance_update', {id: serverInstance.id}) }}" class="btn btn-sm btn-outline-dark">Edit</a>
                </div>
                <div class="col">
                    <a href="{{ path('app_server_instance_delete', {id: serverInstance.id}) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Soll diese Server Instanz wirklich gelöscht werden?')">Löschen</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#
1. Entity erweitern mit make:entity -> String 32 Zeichen NULLABLE -> Fertig
2. Migration erstellen und ausführen -> Fertig
3. FormType erweitern mit passendem Type -> Fertig
4. View anpassen (Detail/Tabelle) -> Fertig
5. Validation!!!
#}
