<ul>
    <li><a href="{{ path('app_home_dashboard') }}">Home</a></li>
    <li><a href="{{ path('app_server_instance_list') }}">Server-Liste</a></li>
    <li><a href="{{ path('app_server_instance_create') }}">Server anlegen</a></li>
    <li><a href="{{ path('app_crawling_index') }}">Crawling-Liste</a></li>
    <li><a href="{{ path('app_crawling_new') }}">Crawling anlegen</a></li>
    <li><a href="{{ path('app_home_impressum') }}">Impressum</a></li>
</ul>